body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

#calculator {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

input[type="button"] {
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #d4d4d4;
}

input[type="button"].operator {
    background-color: #f59345;
    color: #fff;
}

input[type="button"].operator:hover {
    background-color: #d47d39;
}

input[type="button"].equal {
    background-color: #4caf50;
    color: #fff;
}

input[type="button"].equal:hover {
    background-color: #45a049;
}